.card-group{
    width: 30%;
}

.card-style{
    width: 90%;
    border: 1px solid #000;
}

.inner-title{
    img{
        width: 40px;
        border-radius:50%;
    }

}

.card-main-area{
    border-bottom: 1px solid #000;
}