.sidebar-overall{
    height: 100vh;
    width: 296px;

    span{
        vertical-align: bottom;
    }
}

.user{
    img{
        width: 40px;
        border-radius: 50%;
    }

    .user-info :nth-child(2){
        font-size: 14px;
        line-height: 24px;
        color: #6C757D;
    }
}

.nav-link{
    position: relative;
}

.nav-link.actived::before{
    content: "";
    position: absolute;
    left: 0px;
    width: 4px;
    height: 32px;
    border-left: 4px solid #198754;
}