<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./assets/style/bootstrap.css">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <div class="d-flex position-fixed">
      <header>
        <div class="d-flex flex-column justify-content-between bg-light bg-gradient sidebar-overall">
          <div class="flex-column pt-4 mb-4 ">
            <div class="ps-4 mb-4">
              <img src="./assets/images/logo-ANSWER.svg" alt="">
            </div>
            <a class="nav-link link-dark fs-5" aria-current="page" href="#"> 
              <span class="material-icons ps-2 me-2 fs-4">assessment</span>
              Dashboard
            </a>
            <a class="nav-link link-dark fs-5" aria-current="page" href="#"> 
              <span class="material-icons ps-2 me-2 fs-4">question_answer</span>
              Question
            </a>
            <a class="nav-link link-success fs-5 actived" aria-current="page" href="#"> 
              <span class="material-icons ps-2 me-2 fs-4">assignment</span>
              Assignment
            </a>
            <a class="nav-link link-dark fs-5" aria-current="page" href="#"> 
              <span class="material-icons ps-2 me-2 fs-4">video_library</span>
              Course
            </a>
            <a class="nav-link link-dark fs-5" aria-current="page" href="#"> 
              <span class="material-icons ps-2 me-2 fs-4">people</span>
              Admin
            </a>
            <a class="nav-link link-dark fs-5" aria-current="page" href="#"> 
              <span class="material-icons ps-2 me-2 fs-4">settings</span>
              Settings
            </a>
          </div>
          <div class="user d-flex ps-4">
            <div class="avatar">
              <img src="./assets/images/andychen.jpeg" alt="">
            </div>
            <ul class="d-flex flex-column user-info ps-3">
              <li class="fs-5 fw-bold">Andy Chen</li>
              <li><a href="mailto:andy0401@email.com" type="email" class="link-dark">andy0401@email.com</a></li>
            </ul>
          </div>
        </div>
      </header>

      <main class="container-1">
        <%- contents %>
      </main> 

    </div>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>